.page-content{
    height: 70rem;
    width: 85%;
    background-color: rgba(0, 0, 0, .85);
    margin-left:auto;
    margin-right: auto;
    position: relative;
    z-index: -1;
}


div{
    margin-left: auto;
    margin-right:auto;
    width: 90%;
    height: auto;
    background-color: rgba(0,0,0,.85);
    color: white;
   padding-bottom:10px;

}




td{
    width:30%;
    height: 450px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Orbitron', sans-serif;
}

table th {
    font-size: 80px;
    height: 10px;
    font-family: 'Orbitron', sans-serif;

}
table tr td h2{
    text-align: center;
    font-size: 25px;
}

table tr td p{
    text-align: justify;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 15px;
    font-family: 'Cinzel',sans-serif;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 220px;
}

.map{
    text-align: left;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    padding-left: 40px;
    
}